<div class="bg-light" [ngClass]="isCheckout ? 'shopping-cart-checkout' : 'shopping-cart-fixed'">
  <div>
    @if ((cartItems$ | async)?.length === 0) {
      <p>Seu carrinho está vazio.</p>
      @if (isCheckout) {
        <button class="btn btn-primary" [routerLink]="['/home']">
          Ir para a Lista de Produtos
        </button>
      }
    } @else {
    <div class="shopping-card-content">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="col-9">Nome do produto</th>
          <th scope="col" class="col-1">Preço</th>
          <th scope="col" class="col-2">Quantidade</th>
          <th scope="col" class="col-1">
             <button
                class="btn btn-outline-danger"
                title="Remover Todos os produtos"
                (click)="removeAll()"
              >
                Remover Tudo
              </button>
          </th>
        </tr>
      </thead>
      <tbody class="align-middle">
        @for (item of cartItems$ | async; track item.id) {
        <tr class="">
          <td scope="row">{{ item.title | uppercase }}</td>
          <td>{{ item.price | currencyBRL }}</td>
          <td>
            <div class="d-flex align-items-center gap-2">
              <button
                class="btn btn-outline-danger"
                (click)="subtractItem(item.id)"
                title="Diminuir"
              >
                <i class="bi bi-dash-lg"></i>
              </button>
              <div>{{ item.quantity }}</div>
              <button
                class="btn btn-outline-success"
                (click)="addToCart(item)"
                title="Adicionar"
              >
                <i class="bi bi-plus-lg"></i>
              </button>
            </div>
          </td>
          <td>
            <div class="d-flex">
              <button
                class="btn btn-outline-danger"
                (click)="removeItem(item.id)"
                title="Remover Item"
              >
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
    </div>
    }
  </div>
  <div>
   <table class="table table-striped">
    <tbody class="align-middle">
      <tr class="table-info">
        <td>Total de Itens: {{ (totalItems$ | async) ?? 0 }}</td>
        <td>Valor Total: {{ (total$ | async) ?? 0 | currencyBRL }}</td>
      </tr>
    </tbody>
   </table>
  </div>
  @if (!isCheckout) {
  <div class="d-flex justify-content-center shopping-cart-actions">
    <button class="btn btn-outline-primary mt-auto" (click)="closeCart()">
      Fechar Carrinho
    </button>
    <button [routerLink]="['/checkout']" class="btn btn-primary mt-auto" (click)="closeCart()" [disabled]="!(cartItems$ | async)?.length">
      Ir para o Checkout
    </button>
  </div>
  }
</div>
