<div class="bg-light" [ngClass]="isCheckout ? 'shopping-cart-checkout' : 'shopping-cart-fixed'">
  <div>
    @if ((cartItems$ | async)?.length === 0) {
      <p>{{ 'ShoppingCart.emptyCart.message' | translate }}</p>
      @if (isCheckout) {
        <button class="btn btn-primary" [routerLink]="['/home']">
          {{ 'ShoppingCart.emptyCart.goToList' | translate }}
        </button>
      }
    } @else {
    <div class="shopping-card-content">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="col-9">{{ 'ShoppingCart.tableHeader.movieName' | translate }}</th>
          <th scope="col" class="col-1">{{ 'ShoppingCart.tableHeader.price' | translate }}</th>
          <th scope="col" class="col-2">{{ 'ShoppingCart.tableHeader.quantity' | translate }}</th>
          <th scope="col" class="col-1">
             <button
                class="btn btn-outline-danger"
                title="{{ 'ShoppingCart.tableHeader.removeAll' | translate }}"
                (click)="removeAll()"
              >
                {{ 'ShoppingCart.tableHeader.removeAll' | translate }}
              </button>
          </th>
        </tr>
      </thead>
      <tbody class="align-middle">
        @for (item of cartItems$ | async; track item.id) {
        <tr class="">
          <td scope="row">{{ item.title | uppercase }}</td>
          <td>{{ item.price | currencyBRL }}</td>
          <td>
            <div class="d-flex align-items-center gap-2">
              <button
                class="btn btn-outline-danger"
                (click)="subtractItem(item.id)"
                title="{{ 'ShoppingCart.tableBody.subtract' | translate }}"
              >
                <i class="bi bi-dash-lg"></i>
              </button>
              <div>{{ item.quantity }}</div>
              <button
                class="btn btn-outline-success"
                (click)="addToCart(item)"
                title="{{ 'ShoppingCart.tableBody.add' | translate }}"
              >
                <i class="bi bi-plus-lg"></i>
              </button>
            </div>
          </td>
          <td>
            <div class="d-flex">
              <button
                class="btn btn-outline-danger"
                (click)="removeItem(item.id)"
                title="{{ 'ShoppingCart.tableBody.remove' | translate }}"
              >
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
    </div>
    }
  </div>
  <div>
   <table class="table table-striped">
    <tbody class="align-middle">
      <tr class="table-info">
        <td>{{ 'ShoppingCart.totalItems' | translate }}: {{ (totalItems$ | async) ?? 0 }}</td>
        <td>{{ 'ShoppingCart.totalPrice' | translate }}: {{ (total$ | async) ?? 0 | currencyBRL }}</td>
      </tr>
    </tbody>
   </table>
  </div>
  @if (!isCheckout) {
  <div class="d-flex justify-content-center shopping-cart-actions">
    <button class="btn btn-outline-primary mt-auto" (click)="closeCart()">
      {{ 'ShoppingCart.closeCart' | translate }}
    </button>
    <button [routerLink]="['/checkout']" class="btn btn-primary mt-auto" (click)="closeCart()" [disabled]="!(cartItems$ | async)?.length">
      {{ 'ShoppingCart.checkout' | translate }}
    </button>
  </div>
  }
</div>
