<div>
  <div>
    @if ((cartItems$ | async)?.length === 0) {
    <p>Seu carrinho está vazio.</p>
    } @else {
    <ul>
      @for (item of cartItems$ | async; track item.id) {
      <li>
        {{ item.title }} - {{ item.price | currencyBRL }} - Quantidade
        {{ item.quantity }}
        <button class="btn btn-danger" (click)="subtractItem(item.id)">
          Remover
        </button>
        <button class="btn btn-danger" (click)="removeItem(item.id)">
          Excluir
        </button>
      </li>
      }
    </ul>

    }
  </div>
  <div>
    <div>Total de Itens: {{ (totalItems$ | async) ?? 0 }}</div>
    <div>Total: {{ (total$ | async) ?? 0 | currencyBRL }}</div>
  </div>
  @if (!isCheckout) {
  <div class="d-flex justify-content-center">
    <button class="btn btn-info mt-auto" (click)="closeCart()">
      Fechar Carrinho
    </button>
    <button [routerLink]="['/checkout']" class="btn btn-success mt-auto">
      Ir para o Checkout
    </button>
  </div>
  }
</div>
