<div class="container">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/home']">ADA - Loja de Produtos</a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li>
          <a class="nav-link" [routerLink]="['/home']">
            <span>Listagem</span>
          </a>
        </li>

        <li>
          <a class="nav-link">
            <span>Cadastrar Novo</span>
          </a>
        </li>

        <li>
          <app-cart-status
            (cartOpened)="onCartOpened($event)"
            [isCartOpened]="isCartOpened"
          ></app-cart-status>
        </li>

        <!-- <li>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="português">Português</mat-button-toggle>
            <mat-button-toggle value="inglês">Inglês</mat-button-toggle>
          </mat-button-toggle-group>
        </li> -->
        <li>
          <a class="nav-link">
            <span>{{ logedTexts.text }}</span>
            <span>{{ logedTexts.icon }}</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
