<div class="container">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/home']">ADA - Loja de Produtos</a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li>
          <a class="nav-link" [routerLink]="['/home']">
            <span>Listagem</span>
          </a>
        </li>

        <li>
          <a class="nav-link" [routerLink]="['/movies/new']">
            <span>Cadastrar Novo</span>
          </a>
        </li>

        <li>
          <app-cart-status
            (cartOpened)="onCartOpened($event)"
            [isCartOpened]="isCartOpened"
          ></app-cart-status>
        </li>

        <li>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-secondary active">Português</button>
            <button type="button" class="btn btn-outline-secondary">Inglês</button>
          </div>
        </li>

        <li>
          @if (isLoggedIn) {
            <a class="nav-link" [routerLink]="['/home']" (click)="logoutCurrentUser()">
              <span>{{ logedTexts.text }}</span>
              <i class="bi {{ logedTexts.icon }}"></i>
            </a>
          } @else {
            <a class="nav-link" [routerLink]="['/login']">
              <span>{{ logedTexts.text }}</span>
              <i class="bi {{ logedTexts.icon }}"></i>
            </a>
          }
        </li>
      </ul>
    </div>
  </nav>
</div>
