<div class="container">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/home']">ADA - Loja de Produtos</a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']">Pagina Inicial</a>
        </li>
        <li class="nav-item">
          <app-cart-status
            (cartOpened)="onCartOpened($event)"
            [isCartOpened]="isCartOpened"
          ></app-cart-status>
        </li>
      </ul>
    </div>
  </nav>
</div>
