.card {
  // height: 50rem;
}

.card-img-top {
  height: 20rem;
  object-fit: contain;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-title {
  height: 5rem;
}

.card-text {
  height: 5rem;
}


