@if (allProductsList().length !== 0) {
<div>
  <h1>Lista de Produtos</h1>
  <div>
    <section>
      <fieldset class="border p-3 mt-4">
        <legend class="w-auto">Filtros</legend>
        <div class="form-group form-row input-group">
          <div class="col-6">
            <label for="productNameFilter">Nome do Produto</label>
            <input
              type="text"
              class="form-control"
              id="productNameFilter"
              placeholder="Digite o nome de um produto"
              [(ngModel)]="productFilterName"
              (ngModelChange)="filterProductsByName(productFilterName)"
            />
          </div>
          <div class="col-4">
              <label for="productCategoryFilter">
                Categoria
              </label>
                <select [(ngModel)]="selectedCategoryFilter" class="form-control" id="productCategoryFilter"
                (ngModelChange)="filterProductsByCategory(selectedCategoryFilter)">
                  <option selected disabled value="">Escolha...</option>
                  @for (item of categories(); track $index) {
                    <option [value]="item">{{ item }}</option>
                  }
                </select>
          </div>
          <div class="col-2 d-flex align-items-end">
            <button
            type="button"
            class="btn w-100"
            [ngClass]="isFiltered ? 'btn btn-secondary' : 'btn btn-outline-secondary'"
            (click)="resetFilters()">
              Limpar Filtros
            </button>
          </div>
        </div>
      </fieldset>
    </section>
  </div>

  <div class="card-deck">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
      @if (products().length !== 0) {
        @for (product of products(); track product.id) {
          <app-product-card [product]="product"></app-product-card>
        }
      } @else {
        <div class="col">
          <p>Nenhum produto encontrado.</p>
        </div>
      }
    </div>
  </div>
</div>
}
